#filtro {
    background-color: #3982DB;
    border: 2px solid #3982DB;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 40px;
    border-radius: 50%; /* Hace que el botón sea circular */
    display: inline-block;
}

#filtro i {
    font-size: 20px; /* Ajusta el tamaño del ícono */
    color: #fff; /* Color del ícono */
}

#dropdown-menu {
    display: none; /* Inicialmente oculto */
    position: fixed; /* Cambiar a 'fixed' para mantenerlo en la pantalla */
    top: 10%;  /* Mueve el menú un poco hacia abajo desde la parte superior */
    right: 50px;  /* Alinea el menú al borde derecho de la pantalla */
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 220px; /* Ancho del menú */
    height: auto;  /* Ajusta la altura automáticamente */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1;
    padding: 10px;
}

#dropdown-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#dropdown-menu li {
    padding: 8px 12px;
    border-bottom: 1px solid #e0e0e0;  /* Línea de separación */
    display: flex;
    align-items: center;  /* Alinea la imagen y el checkbox */
}

#dropdown-menu li:last-child {
    border-bottom: none;  /* El último ítem no tiene borde inferior */
}

#dropdown-menu li:hover {
    background-color: #f4f4f4;
}



.checkbox {
    margin-right: 10px;  /* Espacio entre el checkbox y la imagen */
}

#dropdown-menu input[type="checkbox"] {
    transform: scale(1.2);  /* Agranda el tamaño del checkbox */
}

#dropdown-menu label {
    display: flex;
    align-items: center;
}

.checkbox-icon {
    width: 200px;  /* Ajusta el tamaño de la imagen */
    height: auto;  /* Ajusta la altura si deseas un tamaño cuadrado */
    object-fit: contain;  /* Asegura que la imagen se mantenga proporcional */
}

/* Media Queries para pantallas de 1080x2400 y similares */
/* Media Queries para pantallas de 1080x2400 y similares */
@media (max-width: 1080px) and (max-aspect-ratio: 2400/1080) {

    #filtro i {
        margin-top: 20px;
        font-size: 40px; /* Aumenta el tamaño del ícono */
    }

    #dropdown-menu {
        width: 50%; /* Ajusta el ancho del menú a un 50% en móviles */
        right: 10px;  /* Ajusta la posición para que quede más centrado */
        top: 5.5%; /* Subir el menú más arriba, ajusta este valor según lo necesites */
    }
    
    p {
        font-size: 30px; /* Ajusta el tamaño del texto */
        margin-left: 20px; /* Ajusta el margen izquierdo */
    }

    input[type="checkbox"] {
        width: 40px;  /* Ajusta el ancho */
        height: 40px; /* Ajusta la altura */
    }
}


