/* Estilos para el calendario de la derecha */

#datosCarrera-container {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    height: 700px; /* Ajusta la altura según tus necesidades */
    overflow-y: auto; /* Habilita el scroll vertical */   
    
}

.event-details {
    position: relative;
    background-color: #ffffff;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.event-details h3 {
    position: absolute;
    transform: translate(0px, -170%);

    color: #333;
}

.event-details p {
    margin: 10px 0;
    color: #555;
    font-size: 1em;
}

.event-details img[src="../img/indycar.png"] {
    width: 11%;
    height: auto;
    margin-top: 10px;
    position: absolute; /* Permite mover la imagen libremente */
    top: 10%; /* Ajusta la posición superior */
    left: 60%; /* Ajusta la posición izquierda */
    transform: translate(0, 0); /* Permite mover la imagen con respecto a su posición original */
}


.event-details img {
    width: 20%;
    height: auto;
    border-radius: 5px;
    margin-top: 10px;
    position: absolute; /* Permite mover la imagen libremente */
    top: 15%; /* Ajusta la posición superior */
    left: 60%; /* Ajusta la posición izquierda */
    transform: translate(0, 0); /* Permite mover la imagen con respecto a su posición original */
}



span {
    position: absolute;
    transform: translate(400px, 280%) scale(5);
    border: 0.5px solid black;
    
}


.event-divider {
    border: 0;
    height: 1px;
    background: #ddd;
    margin: 20px 0;
}


img {
    max-width: 20%;
    height: auto;
}

@media (max-width: 1080px) and (max-aspect-ratio: 20/9) {

    #datosCarrera-container {
        height:900px; /* Ajusta la altura según tus necesidades */
    }


    .event-details img {
        position: absolute;
        top: 65%; /* Ajusta la posición superior */
        left: 75%; /* Ajusta la posición izquierda */
    }

    .event-details img[src="../img/indycar.png"] {
        width: 15%;
        height: auto;
        top: 60%; /* Ajusta la posición superior */
        left: 80%;
    }

    span {
        position: absolute;
        transform: translate(265px, 50%) scale(2);
        border: 0.5px solid black;
        
    }



}



