

#calendar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    height: 700px; /* Ajusta la altura según tus necesidades */
    overflow-y: auto; /* Habilita el scroll vertical */

}

#calendar-container img {
    max-width: 50%;
    max-height: auto;
    object-fit: contain;
    background-color: white;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    max-width: 500px;
    margin-bottom: 20px;;
}

.calendar-header h3 {
    margin: 0px;
    font-size: 1.5em;
}

.prevButton, .nextButton {
    background-color: #3982DB;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
    transition: background-color 0.3s;
}

.prevButton:hover, .nextButton:hover {
    background-color: #397CDB;
}

.calendar-days {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    max-width: 350px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
    color: #555;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* Solo tres columnas: viernes, sábado y domingo */
    gap: 2px; /* Espacio entre los días */
    width: 100%;
    max-width: 500px;
    background-color: #f0f0f000; /* Color del fondo */
    transform: translateX(-65%);/* Ajustar el desplazamiento */
}
.day {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100px; /* Ancho fijo */
    height: 100px; /* Alto fijo */
    background-color: #ffffff;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    border: 2px solid #ccc; /* Agregar borde */
    border-radius: 0px; /* Bordes redondeados */
    box-shadow:  px 4px rgba(0, 0, 0, 0.1);
    overflow: auto;
}   


.day:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.day.hidden {
    visibility: hidden;
}

.day p {
    margin: 5px 0;
    color: #ffffff;
}



.event {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1px;
    border: none; /* Quitar el borde */
    border-radius: 3px;
    background-color: #ffffff;
    margin-top: 1px;
    transition: background-color 0.3s;
}

.event:hover {
    background-color: #ffffff;
}

.event img {
    margin: 0px; /* Reduce el margen entre las imágenes */
    max-width: 4%; /* Asegura que la imagen no exceda el tamaño del contenedor */
}


.event p {
    margin: 5px 0;
    color: #555;
}

.today {
    background-color: #bcbcbc; /* Color de fondo para el día actual */
    color: #000; /* Color de texto para el día actual */
    border-color: #bcbcbc; /* Color del borde para el día actual */;

}



@media (max-width: 1080px) and (max-aspect-ratio: 20/9) {


    #container{
        display: inline;
    }
    .calendar-grid {
        transform: translateX(-115%);/* Ajustar el desplazamiento */
    }

    .calendar-header {
        width: 70%;
    }

    #calendar-container {
        height: 400px; /* Ajusta la altura según tus necesidades */
    }


}
