/* Estilos para la página de podios */


.container {
    display: flex; /* Habilita flexbox para organizar los divs en fila */
    flex-direction: row; /* Los hijos estarán en fila horizontal */
    height: 88vh; /* Asegura que el contenedor ocupe la altura de la pantalla */
    overflow-x: auto; /* Habilita el scroll horizontal */
    overflow-y: hidden; /* Evita scroll vertical */
}   

.column {
    flex: 0 0 422px; /* Cada columna tiene un ancho fijo de 300px (puedes ajustarlo) */
    background-color: #f0f0f0;
    text-align: center;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box; /* Incluye el padding y el borde en el tamaño total */
    border-radius: 10px;
}

/* Estilos para el scrollbar */
.container::-webkit-scrollbar {
    width: 12px; /* Ancho del scrollbar */
    height: 12px; /* Altura del scrollbar horizontal */
}

.container::-webkit-scrollbar-track {
    background: #f0f0f0; /* Color de fondo del track del scrollbar */
    border-radius: 10px;
}

.container::-webkit-scrollbar-thumb {
    background-color: #888; /* Color del thumb del scrollbar */
    border-radius: 10px;
    border: 3px solid #f0f0f0; /* Espacio alrededor del thumb */
}

.container::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Color del thumb del scrollbar al pasar el mouse */
}




#img-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5%; /* Asegura que el contenedor ocupe toda la altura de la columna */
    margin-top: 10px;
}

#img-logo-indy {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7%; /* Asegura que el contenedor ocupe toda la altura de la columna */

}


.logo-container {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* Ajusta la imagen para que se contenga dentro del contenedor */
}

#medio {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 50%; /* Asegura que el contenedor ocupe toda la altura disponible */
    width: 100%; /* Asegura que el contenedor ocupe toda la anchura disponible */
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0); /* Pinta el fondo de negro */
    border-radius: 10px;
}

.podio {
    flex: 1; /* Cada podio ocupa el mismo espacio */
    margin: 5px; /* Espacio entre los podios */
    background-color: rgba(0, 0, 0, 0.085); /* Fondo de cada podio */
    border-radius: 3px;
    padding: 10px; /* Espacio interno de cada podio */
    justify-content: flex-end; /* Alinea el contenido del podio al final */
}

#primer-podio, #segundo-podio, #tercer-podio {
    display: flex;
    justify-content: space-between;
}


#primer-podio {
    background-color: #c1bebe;
    height: 50%;
}

#segundo-podio {
    background-color: #c1bebe;
    height: 30%;
}

#tercer-podio {
    background-color: #c1bebe;
    height: 10%;
}



#info-podio{
    flex: 1; /* Cada podio ocupa el mismo espacio */
    margin: 5px; /* Espacio entre los podios */
    background-color: #c1bebe52; /* Fondo de cada podio */
    border-radius: 10px;
    padding: 10px; /* Espacio interno de cada podio */
    justify-content: flex-end; /* Alinea el contenido del podio al final */
    height: 35%;

}



@media (max-width: 1080px) and (max-aspect-ratio: 20/9) {
    .container {
        height: 75vh; /* Asegura que el contenedor ocupe la altura de la pantalla */
    }   


    .column {
        flex: 0 0 370px; /* Cada columna tiene un ancho fijo de 300px (puedes ajustarlo) */
    }
}
