/*estilos para la tabla de puntos por categoría*/




#swich {
    text-align: center;
    margin-top: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}


#pilotos-info {
    width: 70%;
    height: 70vh; /* Cambiado a 70vh para asegurar que ocupe el 70% de la altura de la ventana */
    background-color: #f0f0f0;
    margin: 0 auto;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    min-height: 500px; /* Tamaño mínimo para asegurar visibilidad */
}

#escuderias-info {
    width: 70%;
    height: 70vh; /* Cambiado a 70vh para asegurar que ocupe el 70% de la altura de la ventana */
    background-color: #f0f0f0;
    margin: 0 auto;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    min-height: 500px; /* Tamaño mínimo para asegurar visibilidad */
}


#img-logo {
    position: absolute;
    top: 30px;
    right: 46.5%;
}

.logo-container {
    width: 100px;
    height: auto;
}


p {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;    /* Centra verticalmente */
    height: 100px;          /* Altura para ver el efecto */
    background-color: #f0f0f0;
  }


@media (max-width: 1080px) and (max-aspect-ratio: 20/9) {
    #img-logo {
        top: 40px; /* Ajuste para pantallas pequeñas */
        right: 37%; /* Ajuste horizontal para pantallas pequeñas */
    }



}

